<header>
  <div class="container-fluid d-flex justify-content-around align-items-center py-2 first-container">
    <!-- Redes Sociales -->
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-vimeo"></i></a>
    </div>

    <!-- Información de Contacto -->
    <div class="contact-info text-right">
        <div class="contact-item">
          <i class="fa-solid fa-house"></i> <p class="mb-0">Ñaña - Lima</p>
        </div>
        <div class="contact-item">
          <a href="">
            <i class="fa-solid fa-phone"></i> <p class="mb-0">+51 916 356 566</p>
          </a>
        </div>
        <div class="contact-item">
          <p class="mb-0">
            <a href="mailto:informes@esacperu.com" class="text-white">informesesacperu.com</a>
          </p>
        </div>
      </div>
  </div>

  <!-- Segundo contenedor: Logo, Nombre de la Universidad y Barra de Navegación -->
  <div id="second-container" class="container-fluid d-flex justify-content-around align-items-center py-6 second-container">
    <!-- Logo y Nombre de la Universidad -->
    <div class="d-flex align-items-center">
      <img src="/human-brain-icon-isolated-vector.jpg" alt="ESAC Logo" class="logo-img mr-3" />
    </div>

    <!-- Barra de navegación -->
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/areas">Áreas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/courses">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Contáctenos</a>
        </li>
      </ul>
    </nav>

    <!-- Botón Aula Virtual -->
    <div>
      <a routerLink="/login" class="btn btn-dark">Aula Virtual</a>
    </div>
  </div>
</header>
