<section class="breadcrumb-section">
  <div class="breadcrumb-overlay">
    <div class="container">
      <h1 class="breadcrumb-title">Nosotros</h1>
      <p class="breadcrumb-path">
        <a href="/">Home</a> &gt; <span>Nosotros</span>
      </p>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container d-flex align-items-center">
    <!-- Imagen de la izquierda -->
    <div class="col-md-6">
      <img src="/Hero-Business-Man.png" alt="Imagen sobre nosotros" class="img-fluid">
    </div>

    <!-- Descripción de la sección -->
    <div class="col-md-6">
      <h2>"Empoderando el Futuro a Través de la Educación: ESAC"</h2>
      <p>ESAC es mucho más que una empresa de capacitación; es un faro de conocimiento y desarrollo personal que ilumina el camino hacia un futuro más brillante. Con una dedicación inquebrantable a la educación de alta calidad y la formación de individuos y organizaciones, somos una empresa de capacitación dedicada a transformar vidas y empresas a través de la adquisición de habilidades, el desarrollo de talentos y la expansión de horizontes.</p>
      
      <div class="service">
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <div class="text">
          <h3>Excelencia</h3>
          <p>Buscar la calidad en la educación y en el desempeño académico, promoviendo el esfuerzo y la dedicación en cada aspecto del aprendizaje y la formación profesional.</p>
        </div>
      </div>
      
      <div class="service">
        <div class="icon">
          <i class="fa fa-pencil"></i>
        </div>
        <div class="text">
          <h3>Integridad</h3>
          <p>Fomentar la honestidad, la transparencia y el comportamiento ético en todas las actividades académicas y profesionales.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="company-section">
  <div class="container">
    <h2>La Empresa</h2>
          <!-- diseño -->
    <div class="line-container">
      <div class="line">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
      <!-- diseño -->
    <!-- Sección Misión -->
    <div class="section-item">
      <div class="text-content">
        <h2>MISIÓN</h2>
        <p>
          En ESAC PERÚ, nuestra misión es empoderar a profesionales y empresas a alcanzar su máximo
          potencial a través de programas educativos de alta calidad. Nos comprometemos a proporcionar
          capacitación especializada y actualizada que promueva el desarrollo profesional y el éxito en
          un entorno laboral competitivo. Buscamos ser un socio de confianza para nuestros clientes, ofreciendo
          programas flexibles y accesibles que impulsen el crecimiento personal y organizacional.
        </p>
      </div>
      <div class="image-content">
        <img src="/empresa02.jpg" alt="Imagen Misión" />
      </div>
    </div>

    <!-- Sección Visión -->
    <div class="section-item">
      <div class="text-content">
        <h2>VISIÓN</h2>
        <p>
          En ESAC PERÚ, aspiramos a ser líderes reconocidos en la industria de la capacitación profesional,
          siendo la primera opción para individuos y organizaciones que buscan desarrollo y excelencia educativa.
          Nuestra visión es transformar vidas y empresas a través del conocimiento, proporcionando programas
          innovadores que impulsen el crecimiento profesional, la competitividad y el éxito sostenible en un mundo
          en constante cambio. Nos esforzamos por ser una plataforma educativa global que inspire el aprendizaje
          continuo, la creatividad y la innovación, creando un impacto positivo en la comunidad y contribuyendo al
          progreso socioeconómico a nivel local e internacional.
        </p>
      </div>
      <div class="image-content">
        <img src="/empresa03.jpeg" alt="Imagen Visión" />
      </div>
    </div>
  </div>
</section>
<section class="values-section">
  <div class="container">
    <h2 class="section-title">Nuestros Valores</h2>
    <!-- diseño -->
    <div class="line-container">
      <div class="line">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <!-- diseño -->
    <!-- Contenedor de valores -->
    <div class="content-wrapper">
      
      <!-- Parte izquierda: Los valores -->
      <div class="values-left">
        <div id="accordion">
          <!-- Valor: Excelencia -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconOne"></i> Excelencia
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="card-body">
                Buscar la calidad en la educación y en el desempeño académico, promoviendo el esfuerzo y la dedicación en cada aspecto del aprendizaje y la formación profesional.
              </div>
            </div>
          </div>

          <!-- Valor: Integridad -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconTwo"></i> Integridad
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="card-body">
                Fomentar la honestidad, la transparencia y el comportamiento ético en todas las actividades académicas y profesionales.
              </div>
            </div>
          </div>

          <!-- Valor: Innovación -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconThree"></i> Innovación
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="card-body">
                Buscar constantemente nuevas ideas y métodos educativos para mantenerse relevante y adaptarse a un entorno cambiante.
              </div>
            </div>
          </div>

          <!-- Valor: Compromiso -->
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconFour"></i> Compromiso
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
              <div class="card-body">
                Comprometidos con el desarrollo profesional de nuestros estudiantes y colaboradores, buscando siempre mejorar el entorno educativo.
              </div>
            </div>
          </div>

          <!-- Valor: Profesionalismo -->
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconFive"></i> Profesionalismo
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
              <div class="card-body">
                Fomentar un comportamiento ético y responsable, impulsando la formación profesional en cada área de conocimiento.
              </div>
            </div>
          </div>

          <!-- Valor: Adaptabilidad -->
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <i class="fa fa-plus-circle plus-minus-icon" id="iconSix"></i> Adaptabilidad
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
              <div class="card-body">
                Adaptarse a los cambios del entorno y a las necesidades del sector, respondiendo de manera flexible a los retos del mercado educativo.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Parte derecha: Imagen -->
      <div class="values-right">
        <img src="/container02.jpg" alt="Imagen Representativa" class="values-image" />
      </div>
    </div>
  </div>

  
</section>
 <!-- fromulario de contacto-->
 <section class="contact-form">
  <div class="form-container">
    <div class="container py-5">
      <h2 class="section-title">Contáctanos</h2>
      <p>Contáctanos y obtén toda la información que necesitas</p>

      <form action="#" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Nombres *</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Ingresa tus nombres" required />
          </div>

          <div class="form-group col-md-6">
            <label for="lastName">Apellidos *</label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Ingresa tus apellidos" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">Teléfono *</label>
            <input type="tel" id="phone" name="phone" class="form-control" placeholder="999 999 999" required />
          </div>

          <div class="form-group col-md-6">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="ejemplo@dominio.com" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="department">Departamento *</label>
            <select id="department" name="department" class="form-control" required>
              <option value="">Seleccione</option>
              <option value="Lima">Lima</option>
              <option value="Arequipa">Arequipa</option>
              <option value="Cusco">Cusco</option>
            </select>
          </div>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="terms" name="terms" required />
          <label class="form-check-label" for="terms">Acepto las políticas de seguridad y los términos y condiciones</label>
        </div>

        <button type="submit" class="btn btn-danger">Enviar</button>
      </form>
    </div>
  </div>
</section>



