<div class="container-fluid">
    <div class="row">
      <!-- Productos -->
      <div class="col-md-9">
        <div class="product-container">
          <div class="product-card">
            <img src="path-to-image" class="product-image" alt="Producto 1">
            <div class="product-details">
              <h5>Promoción de 3 x 1</h5>
              <p class="price"><span class="old-price">S/ 99.00</span> S/ 50.00</p>
              <button class="btn btn-danger">Agregar al carrito</button>
            </div>
          </div>
          <div class="product-card">
            <img src="path-to-image" class="product-image" alt="Producto 2">
            <div class="product-details">
              <h5>Gestión Pública</h5>
              <p class="price"><span class="old-price">S/ 99.00</span> S/ 50.00</p>
              <button class="btn btn-danger">Agregar al carrito</button>
            </div>
          </div>
          <!-- Más productos aquí -->
        </div>
  
        <!-- Paginación -->
        <div class="pagination">
          <span>1</span>
          <span>2</span>
          <span>></span>
        </div>
      </div>
  
      <!-- Menú lateral -->
      <div class="col-md-3">
        <div class="menu">
          <h4>Menu</h4>
          <ul>
            <li><a href="#">Auditoría</a></li>
            <li><a href="#">Derecho</a></li>
            <li><a href="#">Gestión</a></li>
            <li><a href="#">Informática</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Otros</a></li>
            <li><a href="#">Pedagogía</a></li>
            <li><a href="#">Recursos Humanos</a></li>
            <li><a href="#">Salud</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  