<div class="container d-flex justify-content-between align-items-center">
  <!-- Lista de especialidades -->
  <div class="specialties">
    <h3>Explora Nuestras Especialidades</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <button class="specialty-btn">Gestión</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Derecho</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Pedagogía</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Marketing</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Auditoría</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Informática</button>
      </li>
      <li class="list-group-item">
        <button class="specialty-btn">Salud</button>
      </li>
    </ul>
  </div>

  <!-- Imagen al lado de la lista -->
  <div class="image-container">
    <img src="/container02.jpg" alt="Imagen relacionada" class="img-fluid">
  </div>
</div>

  

  <!-- Contenedor principal para los servicios -->
<section class="services">
    <!-- Título de la sección -->
    <h2 class="section-title">Modalidad Virtual</h2>
    <p class="service-description">
      Estudiar y certificarse de manera virtual en diplomados de gestión pública ofrece una serie de ventajas significativas. La flexibilidad de horarios permite acceder al contenido del curso en línea desde cualquier lugar y en cualquier momento, lo que facilita la gestión del tiempo y el equilibrio entre el estudio y otros compromisos...
    </p>
    
    <h2 class="section-title">Diplomados en dos meses</h2>
    <p class="service-description">
      La flexibilidad de realizar un diplomado en dos meses permite a los participantes incorporar esta formación en su agenda personal y profesional de manera más accesible. Esto facilita la actualización de habilidades y la adquisición de conocimientos relevantes en un tiempo breve, sin comprometer otras responsabilidades...
    </p>
  
    <h2 class="section-title">240 horas académicas acreditadas</h2>
    <p class="service-description">
      La acreditación de 240 horas brinda una certificación reconocida que puede respaldar oportunidades laborales y de desarrollo profesional, especialmente en el contexto de contratos públicos. En Perú, la validez de la ley SERVIR respalda la importancia de la capacitación continua...
    </p>
  
    <h2 class="section-title">Diplomados con código QR</h2>
    <p class="service-description">
      Los diplomados con código QR ofrecen una forma innovadora y eficiente de obtener certificaciones reconocidas y válidas. Al incluir un código QR en los diplomas, se facilita la verificación instantánea de la autenticidad y validez de la certificación...
    </p>
  </section>
  
